beautifulsoup4==4.12.3
boto3==1.35.39
botocore==1.35.39
certifi==2024.8.30
cffi==1.17.0
charset-normalizer==3.4.0
cryptography==41.0.5
frozendict==2.4.6
had @ git+https://github.com/h-akira/had.git@0a0476a21391b48475c14b5e59bc8b148c898b5a
html5lib==1.1
idna==3.10
Jinja2==3.1.4
jmespath==1.0.1
lxml==5.3.0
MarkupSafe==2.1.5
multitasking==0.0.11
numpy==2.2.0
pandas==2.2.3
pandas-datareader==0.10.0
peewee==3.17.8
platformdirs==4.3.6
pycparser==2.22
PyJWT==2.9.0
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
s3transfer==0.10.3
setuptools==75.6.0
six==1.16.0
soupsieve==2.6
tzdata==2024.2
urllib3==2.2.3
webencodings==0.5.1
WTForms==3.1.2
yfinance==0.2.50
